<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Página Principal</h1>
        <h5>Desarrollado por: Leonardo Araya y Josué Salazar</h5>
    </header>
    <main>
        <div class="tabla-container">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Saldo Actual</th>
                    </tr>
                </thead>
                <tbody>
                <!-- Aqui se ejecuta el script que carga los datos de SQL a la tabla --> 
                </tbody>
            </table>
        </div>
        
        <button id="btn-insertar" class="btn-pantalla-registro">Insertar Nuevo Registro</button>
    </main>
    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>